<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.icpc.dao.SoloCredentialDao">

    <select id="findById" resultType="SoloCredential">
        select * from solo_credential
        where id = #{id}
    </select>

    <select id="findBySoloContest" resultType="SoloCredential">
        select * from solo_credential
        where solo_contest_id = #{soloContestId}
    </select>

    <select id="findBySoloContestAndSchool" resultType="SoloCredential">
        select * from solo_credential
        where solo_contest_id = #{soloContestId} and student_id in (
            select id from student where school_id = #{schoolId}
        )
    </select>

    <select id="findBySoloContestAndStudent" resultType="SoloCredential">
        select * from solo_credential
        where solo_contest_id = #{soloContestId} and student_id = #{studentId}
    </select>

    <insert id="insert" parameterType="SoloCredential">
        insert into solo_credential(`name`, `bucket`, `solo_contest_id`, `student_id`, `upload_time`)
        values(#{name}, #{bucket}, #{soloContestId}, #{studentId}, #{uploadTime})
    </insert>
</mapper>