<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.icpc.dao.SoloContestDao">

    <select id="findAll" resultType="SoloContest">
        select *
        from solo_contest
    </select>

    <select id="findByName" resultType="SoloContest">
        select *
        from solo_contest
        where title like '%${title}%'
    </select>

    <select id="findById" resultType="SoloContest">
        select * from solo_contest where id = #{id}
    </select>

    <select id="findByStudentId" resultType="SoloContest">
        select * from solo_contest
        where id in (
        select solo_contest_id from solo_contest_record where student_id = #{studentId}
        )
    </select>

    <insert id="insert" parameterType="SoloContest">
        insert into solo_contest(title, start_time, end_time, sign_start_time, sign_end_time, school_id,
        chief, phone, email, num_max)
        values (#{title}, #{startTime}, #{endTime}, #{signStartTime}, #{signEndTime}, #{schoolId},
        #{chief}, #{phone}, #{email}, #{numMax})
    </insert>

    <update id="update" parameterType="SoloContest">
        update solo_contest
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title = #{title},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="signStartTime!=null">sign_start_time=#{signStartTime},</if>
            <if test="signEndTime!=null">sign_end_time=#{signEndTime},</if>
            <if test="schoolId!=null">school_id=#{schoolId},</if>
            <if test="chief!=null">chief=#{chief},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="numMax!=null">num_max=#{numMax},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateNumFact">
        update solo_contest
        set num_fact = #{numFact}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from solo_contest
        where id = #{id}
    </delete>

    <select id="hasContestRecord" resultType="Boolean">
        select isnull((select top(1) 1 from solo_contest_record where solo_contest_id=#{id}), 0)
    </select>

    <insert id="signInContest">
        insert into solo_contest_record(solo_contest_id, student_id, is_starred)
        values (#{soloContestId}, #{studentId}, #{isStarred})
    </insert>

    <delete id="signOffContest">
        delete from solo_contest_record
        where solo_contest_id = #{soloContestId} and student_id = #{studentId}
    </delete>

    <select id="findSignedIn" resultType="Integer">
        select student_id
        from solo_contest_record
        where solo_contest_id = #{soloContestId} and student_id = #{studentId}
    </select>

    <select id="findNumFactByContest" resultType="Integer">
        select COUNT(Z.student_id)
        from solo_contest_record as Z
        where Z.solo_contest_id = #{soloContestId}
    </select>

    <select id="findDetailsByContestAndSchool" resultType="java.util.LinkedHashMap">
        select
        S.school_name as schoolName, S.abbr_name as abbrName,
        ST.id as id, ST.stu_id as stuId, ST.stu_name as stuName, CONCAT(ST.family_name, ' ', ST.first_name) as
        stuForeignName,
        ST.phone, ST.email, ST.sex as sex, ST.size as size
        from school as S, student as ST, solo_contest as C, solo_contest_record as R
        where S.id = ST.school_id and ST.id = R.student_id and C.id = R.solo_contest_id
        and C.id = #{soloContestId} and S.id = #{schoolId}
    </select>

    <select id="findDetailsByContest" resultType="java.util.LinkedHashMap">
        select
        S.school_name as schoolName, S.abbr_name as abbrName,
        ST.id as id, ST.stu_id as stuId, ST.stu_name as stuName, CONCAT(ST.family_name, ' ', ST.first_name) as
        stuForeignName,
        ST.phone, ST.email, ST.sex as sex, ST.size as size
        from school as S, student as ST, solo_contest as C, solo_contest_record as R
        where S.id = ST.school_id and ST.id = R.student_id and C.id = R.solo_contest_id
        and C.id = #{soloContestId}
    </select>

</mapper>