<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.icpc.dao.SoloContestDao">

    <select id = "findAll" resultType="Contest">
        select *
        from solo_contest
    </select>

    <select id="findByName" resultType="Contest">
        select *
        from solo_contest
        where title like '%${contestTitle}%'
    </select>

    <select id="findById" resultType="Contest">
        select * from solo_contest where id = #{id}
    </select>

    <select id="findByStudentId" resultType="Contest">
        select * from solo_contest
        where id in (
          select solo_contest_id from solo_contest_record where student_id = #{studentId}
        )
    </select>

    <insert id="insert" parameterType="Contest">
        insert into solo_contest(title, start_time, end_time, sign_start_time, sign_end_time, school_id,
              chief, phone, email, num_max)
        values (#{contestTitle}, #{startTime}, #{endTime}, #{signStartTime}, #{signEndTime}, #{schoolId},
                #{chief}, #{phone}, #{email}, #{numMax})
    </insert>

    <delete id="delete">
        delete from solo_contest
        where id = #{id}
    </delete>

    <insert id="signInContest">
        insert into solo_contest_record(solo_contest_id, student_id, is_starred)
        values (#{soloContestId}, #{studentId}, #{isStarred})
    </insert>

    <delete id="signOffContest">
        delete from solo_contest_record
        where solo_contest_id = #{soloContestId} and student_id = #{studentId}
    </delete>

    <select id="findNumFactByContest" resultType="Integer">
        select COUNT(Z.student_id)
        from solo_contest_record as Z
        where Z.solo_contest_id = #{soloContestId}
    </select>

    <select id="findByContestAndSchool" resultType="Integer">
        select COUNT(Z.student_id)
        from solo_contest_record as Z
        where Z.contest_id = #{soloContestId} and Z.student_id in (
	      select id from student where student.school_id = #{schoolId})
    </select>

    <select id="findDetailedInfo" resultType="java.util.LinkedHashMap">
        select
        S.school_name as schoolName, S.abbr_name as abbrName,
        ST.stu_id as stuId, ST.stu_name as stuName, CONCAT(ST.family_name, ' ', ST.first_name) as stuForeignName,
        ST.phone, ST.email, ST.sex as sex, ST.size as size,
        from school as S, student as ST, solo_contest as C, solo_contest_record as R
        where S.school_id = ST.school_id and ST.id = R.student_id and C.id = R.solo_contest_id
    </select>

</mapper>