<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.icpc.dao.StudentDao">
    <!--    <resultMap id="" type="com.vue.demo.entity.Student">-->
    <!--        <result column="id" jdbcType="INTEGER" property="id" />-->
    <!--        <result column="userName" jdbcType="VARCHAR" property="userName" />-->
    <!--        <result column="passWord" jdbcType="VARCHAR" property="passWord" />-->
    <!--        <result column="realName" jdbcType="VARCHAR" property="realName" />-->
    <!--    </resultMap>-->
    <select id="findAll" resultType="Student">
        select id, stu_id, stu_name, family_name, first_name, school_id, college, major, enroll_year,
            phone, email, sex, size, check_status
        from student
    </select>

    <select id="findById" parameterType="int" resultType= "Student">
        select *
        from student
        where id = #{id}
    </select>

    <select id="findByPhone" parameterType="String" resultType= "Student">
        select *
        from student
        where phone = #{phone}
    </select>

    <select id="findBySchoolId" parameterType="int" resultType= "Student">
        select id, stu_id, stu_name, family_name, first_name, school_id, college, major, enroll_year,
            phone, email, sex, size, check_status
        from student
        where school_id = #{schoolId}
    </select>

    <select id="findByEmail" resultType="Student">
        select *
        from student
        where email = #{email}
    </select>

    <select id="findRetrieveCodeByEmail" resultType="java.lang.String">
        select retrieve_code
        from student
        where email = #{email}
    </select>

    <update id="update" parameterType="Student">
        update student
        <trim prefix="set" suffixOverrides=",">
            <if test="stuId!=null">stu_id = #{stuId},</if>
            <if test="familyName!=null">family_name = #{familyName},</if>
            <if test="firstName!=null">first_name=#{firstName},</if>
            <if test="college!=null">college=#{college},</if>
            <if test="major!=null">major=#{major},</if>
            <if test="enrollYear!=null">enroll_year=#{enrollYear},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="size!=null">size=#{size},</if>
            <if test="sex!=null">sex=#{sex},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateRetrieveCode">
        update student
        set retrieve_code = #{code}
        where email = #{email}
    </update>


    <update id="updatePswd" >
        update student
        set pswd = #{pswd}
        where id = #{id}
    </update>

    <update id="updateStatus">
        update student
        set check_status = #{status}
        where id = #{id}
    </update>

    <insert id="insert" parameterType="Student">
        insert into student(stu_id, stu_name, family_name, first_name, school_id, college, major, enroll_year,
            phone, email, sex, size,  pswd, check_status)
        values (#{stuId}, #{stuName}, #{familyName}, #{firstName}, #{schoolId}, #{college}, #{major}, #{enrollYear},
           #{phone}, #{email}, #{sex}, #{size}, #{pswd}, #{checkStatus})
    </insert>

    <delete id="delete">
        delete from student
        where id = #{id}
    </delete>

    <select id="find" resultType="java.util.Map">
        select x.id, x.stu_id, x.stu_name, x.family_name, x.first_name, x.school_id, y.school_name,
        x.college, x.major, x.enroll_year, x.phone, x.email, x.sex, x.size
         from student as x, school as y
        where x.school_id = y.id
    </select>

</mapper>