<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.icpc.dao.TeamCredentialDao">

    <select id="findById" resultType="TeamCredential">
        select * from contest_credential
        where id = #{id}
    </select>

    <select id="findByContest" resultType="TeamCredential">
        select * from contest_credential
        where contest_id = #{contestId}
    </select>

    <select id="findByContestAndSchool" resultType="TeamCredential">
        select * from contest_credential
        where contest_id = #{contestId}
            and team_id in (select team_id from team where school_id = #{schoolId})
    </select>

    <select id="findByContestAndTeam" resultType="TeamCredential">
        select * from contest_credential
        where team_id = #{teamId} and contest_id = #{contestId}
    </select>

    <insert id="insert" parameterType="TeamCredential">
        insert into contest_credential(`name`, bucket, contest_id, team_id, upload_time)
        values(#{name}, #{bucket}, #{contestId}, #{teamId}, #{uploadTime})
    </insert>
</mapper>